div {
  border: 2px solid black;
  margin: 1rem;
}

.holder {
  border: 1px solid red;
}
button {
  
  display: block;
  margin: 1rem auto;
}

#html-code {
  overflow: scroll;
  font-family: "Lucida Console", Monaco, monospace;
}
